<div class="footer">

  <div class="footer_contact">
    <br>
    <p><strong>ITMES</strong></p>
    <p>Société par actions simplifiée</p>
    <p>Siège social : 35 rue Chevreul 94600 Choisy le roi</p>
  </div>

</div>
