<div class="body-contact">
  <div class="contact">
    <div class="row">
      <div class="contact-links">

        <div class="contact-links-mail">
          <p><%= link_to contact_path do %>
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <br>
            contact@itmes.com
          <% end %></p>
        </div>

        <div class="contact-links-form">
          <p><%= link_to do %>
            <i class="fa fa-comments-o fa-3x"></i>
            <br>
            <br>
            Laissez votre contact ici
          <% end %></p>
        </div>

      </div>
    </div>
  </div>
</div>
