<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Accueil</h3>
        <h1>BIENVENUE</h1>
      </div>

      <div class="content">
        <p>Notre société est spécialisée dans deux grands domaines; l'instrumentation et la mise en service des machines tournantes.</p>
        <p>De l'expertise à la mise en service en passant par le réglage et la requalification des différents systèmes, nous sommes en capacité de répondre à l’ensemble des besoins exigeants et complexes en vous proposant notre expertise et notre savoir faire acquis tout au long de nos expériences variées dans l'industrie des machines tournantes.</p>
        <p>L’indisponibilité due à la défaillance de l’instrumentation peut être réduite par une maintenance préventive rigoureuse et adaptée associée à un réglage spécifique de la machine. ITMES peut vous accompagner dans cette démarche de fiabilisation.</p>
      </div>

      <div class="image">
        <%=image_tag 'turbine1.jpg', height: 300, width: 450%>
      </div>

    </div>
  </div>
</div>
