<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title-accueil">
        <h1>BIENVENUE</h1>
      </div>

      <div class="content-accueil">
        <p>Our company is specialized in two main fields;instrumentation and commissioning of rotating machines.</p>

        <p>From expertise, commissioning, setting up and requalification of the different  systems, we are able to consider all demanding and complex needs by offering you our expertise and know-how acquired throughout our various experiences in the rotating machine industry.</p>

        <p>Turbine trips are often related to instrumentation failure or incorrect sensor adjustment. This grid unavailability can be avoided! Indeed thanks to a rigorous and adapted preventive maintenance, ITMES can accompany you towards the no triggering turbine.</p>
      </div>

      <div class="image-accueil">
        <%=image_tag 'nucpower.png', height: 200, width: 400%>
      </div>

    </div>
  </div>
</div>
