<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title-contact">
        <h1>CONTACT</h1>
      </div>

      <div class="content-contact">
        <p>ITMES</p>
        <p>contact@items.com</p>
      </div>

    </div>
  </div>
</div>

