<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Entreprise</h3>
        <h1>PRESENTATION</h1>
      </div>

      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eveniet quae consequatur eum natus repudiandae, illo praesentium, maxime esse inventore delectus repellendus dicta eligendi perspiciatis voluptatum, iure nisi assumenda blanditiis.</p>
      </div>

      <div class="image">
        <%=image_tag 'nucpower.png', height: 200, width: 400%>
      </div>

    </div>
  </div>
</div>

