<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Entreprise</h3>
        <h1>QHSE</h1>
      </div>

      <div class="content">
        <p>ITMES met en œuvre toutes les conditions qui permettent de respecter l’intégrité physique et mentale de ses salariés et de limiter les conséquences ses salariés d’un accident de travail ou d’une maladie professionnelle.</p>

        <p>Cette démarche de prévention est une valeur primordiale d’ITMES. Aucun retard de planning ou d’objectif ne doit perturber la sécurité dans notre société.</p>

        <p>Notre engagement est clair: PRESERVER la santé et l’intégrité des personnes; RECHERCHER l’amélioration continue de ses performances tout en optimisant celles de se clients; PRESERVER l’environnement.</p>

        <br>

        <p><strong>Nos engagements:</strong></p>
        <ul>
          <li><p>Identifier, évaluer, hiérarchiser et anticiper les risques induits  par nos activités pour la santé, la sécurité, la sureté des personnes;</p></li>
          <li><p>Informer le personnel du devoir d’alerte et droit de retrait en cas de risques non maîtrisés;</p></li>
          <li><p>Former / habiliter et évaluer régulièrement chaque salarié;</p></li>
          <li><p>Nous assurer de la satisfaction de nos clients par rapport à leurs attentes ; comprendre l’évolution de leurs besoins  et  assurer la protection de leurs intérêts, que ce soit en matière de sécurité, santé et salubrité publiques ainsi que protection de la nature ou de l’environnement;</p></li>
          <li><p>Evaluer le système de management en mesurant nos performances, et mettre en œuvre les plans d’actions nécessaires à l’atteinte des objectifs et à la réalisation des actions correctives.</p></li>
        </ul>

        <br>

        <p>L’implication de chacun est indispensable afin de poursuivre notre démarche de Développement Durable et d’amélioration continue.</p>
      </div>

    </div>
  </div>
</div>

