<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Entreprise</h3>
        <h1>PRESENTATION</h1>
      </div>

      <div class="content">
        <p>Société créé en 2017 suite à la vente d’Alstom. Elle se développe rapidement sur des marchés porteurs tels que la mise en service et l’instrumentation mais s’ouvre aussi aux demandes spécifiques des clients par la conseption et la création de matériels spécifiques en 3D.</p>
      </div>

    </div>
  </div>
</div>

