<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h1>FORMATION</h1>
      </div>

      <div class="content">
        <p>Besoin d’un apport théorique et/ou pratique pour mieux comprendre une activité sans forcément l’accomplir?</p>

        <br>

        <p>Besoin d’une formation complète sur un sujet précis dans le but d’effectuer une tache complexe?
        ITMES répond à vos attente et propose de nombreuses formations relatives à ses activités d’instrumentation et de mise en service. </p>

        <p>Les demandes seront examinees suivant le plan de charge de l’année.</p>
      </div>

    </div>
  </div>
</div>
