<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Intervention sur site</h3>
        <h1>MISE EN SERVICE</h1>
      </div>

      <div class="content">
        <ol>

          <li>
            <h4>Assistance aux chargé d’affaires</h4>
            <p>Suivi des missions de mise en service afin d’optimiser les régimes les plannings et les attentes.</p>
          </li>

          <li>
            <h4>Analyse des relevés</h4>
            <p>Et des courbes effectués durant les essais lors de l’arrêt de la turbine et de sa requalification.</p>
          </li>

          <li>
            <h4>Assistance à l’arrêt et redémarrage du groupe turboalternateur</h4>
            <p>En appui pour le pôle mécanique du CNPE, nous effectuerons un suivi de l’arrêt et du démarrage du groupe turboalternateur.</p>
          </li>

          <li>
            <h4>Contrôle des faux ronds aux accouplements</h4>
            <p>Nous effectuerons un contrôle de la coaxialité des accouplements du GTA.</p>
          </li>

          <li>
            <h4>Signature hydraulique</h4>
            <p>Nous effectuons la signature hydraulique d’appareil de régulation et de sécurité du GTA. (surveilleur de vide, surveilleur de pression…).</p>
          </li>

          <li>
            <h4>Révision d’appareil hydraulique.</h4>
            <p>Nous effectuons la révision de petits appareils hydrauliques  (surveileur, relais, vide vite…). Avec reprise des réglages si nécessaire.</p>
          </li>

          <li>
            <h4>RET</h4>
            <p>Prise de régime de coordination RET sur le groupe turboalternateur sur des phases de montage et de démontage.</p>
          </li>
        </ol>
      </div>

    </div>
  </div>
</div>

