<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Intervention sur site</h3>
        <h1>SURVEILLANCE</h1>
      </div>

      <div class="content">
        <p>Nous effectuons de la surveillance sur des interventions de mise en service et d’instrumentation. En lien direct avec le chargé d’affaire, nous rendons compte de l’évolution de l’activité et du bon déroulement de l’intervention sur les aspects techniques, qualité et sécurité.</p>
      </div>

    </div>
  </div>
</div>
