<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="image-opacity-itmes">
        <%= image_tag 'etat-des-lieux.jpg', height: 175, width: 360, crop: :fill %>
      </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-5">
          <h2>État des lieux instrumentation de l’installation </h2>
          </button>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <div class="image-opacity-itmes">
      <%= image_tag 'hommeturbine', height: 175, width: 360 %>
    </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-4">
          <h2>Diagnostic instrumentation</h2>
          </button>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-description">
            <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-2">
              <h2>Remise en état / <br>Remplacement</h2>
            </button>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <!-- insert <div class="card"> -->
        <div class="card">
          <div class="image-opacity-itmes">
          <%= image_tag 'biloute.jpg', height: 175, width: 360 %>
          </div>
          <div class="card-description">
            <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-3">
              <h2>Requalification <br> instrumentation</h2>
            </button>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card">
          <div class="image-opacity-itmes">
          <%= image_tag 'azerty.jpg', height: 175, width: 360 %>
        </div>
          <div class="card-description">
            <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-1">
              <h2>Fabrication</h2>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<br>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fabrication</h4>
      </div>
      <div class="modal-body">
       1-glute.
      Demander à Jean Marc d’écrire une ligne sur la fabrication de glute.
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remise en état/remplacement </h4>
      </div>
      <div class="modal-body">
        1-Capteur de vibrations et de dilatation.
        Dépose pour contrôle et changement des éléments d’usure et/ou défaillant. Remise en place des capteurs. <br>
        <br>
        2-remplacement des manomètres, ou installation de nouveaux points de mesure sur des lignes n’en équiper. <br>
        <br>
        3- thermocouples.
        Changement au réparation des thermocouples. (Soudures froides/chaudes). <br>
        <br>
        4-thermostat/pressostat
        Réglage des pressostats et manostat aux la valeurs attendues. <br>
        <br>
        5-ligne de mesure.
        Contrôle de l’ensemble de la chaîne de mesure. (Isolement, continuité). <br>
        <br>
        6-fin de course.
        Remplacement ou réglage des fin de course. <br>
        <br>
        7-enregistreur.
        Contrôle, remise en état, ou révision de l’ensemble des enregistreurs en salle des commandes.

      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Requalification instrumentation</h4>
      </div>
      <div class="modal-body">
       1-Étrée/sortie.
      Contrôle de l’ensemble de la chaîne de mesure, du capteur sur site à l’enregistreur en salle de commandes <br>
      <br>
      2-réglages/calibrage. <br>
      Réglage des capteurs de la ligne d’arbres. (Mise à zéro de la ligne d’arbres). <br>
      <br>
      3-Passage sur banc statique.
      Demander à Jean Marc d’écrire une ligne sur le passage sur banc statique.
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Diagnostique instrumentation</h4>
      </div>
      <div class="modal-body">
       Diagnostic sur l’instrumentation défaillante ou hors service.
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">État des lieux instrumentation de l’installation </h4>
      </div>
      <div class="modal-body">
        1-Contrôle durant le cycle ou en phase d’arrêt de l’ensemble de l’instrumentation du GTA et de ses auxiliaires afin de prévoir leur maintenance.
      </div>

    </div>
  </div>
</div>
