<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title-accueil">
        <h1>MENTIONS LEGALES</h1>
      </div>

      <div class="content-accueil">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eveniet quae consequatur eum natus repudiandae, illo praesentium, maxime esse inventore delectus repellendus dicta eligendi perspiciatis voluptatum, iure nisi assumenda blanditiis.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestiae doloremque tenetur quisquam. Totam non magni tempora sunt obcaecati consequatur accusantium. Quidem architecto, quibusdam atque facere, amet dolor excepturi sapiente!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda laboriosam optio quae a inventore, illum dolore ut provident adipisci voluptas impedit iusto vitae facere voluptatum cupiditate, neque ratione similique deleniti!</p>
      </div>

    </div>
  </div>
</div>

