<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Technologie</h3>
        <h1>TURBINE A VAPEUR</h1>
      </div>

      <div class="content">
        <p>La turbine à vapeur est un des matériels stratégiques des installations de production d’énergie électrique. Son indisponibilité entraîne la perte de la production d’énergie, contrairement à d’autres matériels (pompes alimentaires, pompes de circulation assistée, ventilateurs...) dont la redondance permet de poursuivre l’exploitation des installations soit à pleine charge, soit éventuellement à charge partielle.</p>

        <p>Par ailleurs, la turbine peut être le siège d’incidents graves, qualifiés d’accidents majeurs, caractérisés par la destruction de la machine, voire l’émission de projectiles des parties tournantes. Ces accidents, heureusement rares, présentent des risques notables pour la sécurité des personnes et l’intégrité des installations.</p>

        <br>

        <p>La maintenance des turbines à vapeur revêt un caractère important qui vise les deux objectifs suivants :</p>
        <ul>
          <li><p>la prévention des accidents majeurs. Il s’agit d’assurer la sécurité des personnes et des biens en prenant les dispositions pour éviter l’émission de projectiles par les rotors ;</p></li>
          <li><p>la limitation des indisponibilités fortuites et de leurs conséquences économiques.</p></li>
        </ul>

        <br>

        <p>Plus généralement, cette préoccupation d’éviter l’accident majeur est également prise en compte dans la conduite des groupes turboalternateurs par la mise en œuvre de moyens de surveillance et la réalisation d’essais périodiques des systèmes de sécurité.</p>

      </div>

    </div>
  </div>
</div>
