.card-itmes {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-align: center;
  background-size: cover !important;
  background-position: center;
  background-image: url("turbine.jpg");
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-logo-itmes {
  position: absolute;
  left: 50px;
  top: 25px;
  height: 200px;
}

.card-description-itmes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-description-itmes h2 {
  font-size: 30px;
}
